body {
  background-color: #ffe6e6;
}

#gameStart {
  display: flex;
  margin-top: 150px;
}

#bottom {
  margin-top: 20px;
}

div img {
  width: 10%;
  margin: auto;
  display: block;
  margin-top: 40px;
  border-radius: 100px;
  box-shadow: 0 0 1em red;
}
