* {
  font-family: Arial;
}

body {
  background-color: #ffe6e6;
}

h3 {
  text-align: center;
  margin-top: 10%;
}

h4 {
  text-align: center;
}

button,
input {
  cursor: pointer;
}

.form-control {
  color: #ffe6e6;
}

#gameStart {
  display: flex;
}

span {
  padding-left: 100px;
}

#bottom {
  margin-top: 20px;
}
div img {
  width: 30%;
  margin: auto;
  margin-top: 10px;
  display: block;
  border: 1px solid black;
  border-radius: 100px;
  box-shadow: 0 0 1em rgb(134, 134, 216);
}
